@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,500&display=swap');
body{
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.select-mod{
  height: 40px;
  font-size: 20px;
}
input[type=submit]{
  width:100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:20px;
}
.navbar{
  overflow:hidden;
  background-color: #333;
  font-family: Arial;
  margin-bottom: 32px;
}
.navbar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 8px;
}

.headerDropdown{
  float: left;
  overflow: hidden;
}

.headerDropdown .headerbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.navbar a:hover, .headerDropdown:hover .headerbtn{
  background-color: red;
}

.headerDropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.headerDropdown:hover .headerDropdown-content{
  display: block;
}

.headerDropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; 
}

.headerDropdown-content a:hover{
  background-color: #ddd;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  font-size: 34px;
}

.formcontainer{
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  width: 40%;
  gap: 16px;
  justify-content: flex-start;
  overflow: visible;
  position: relative;
  min-width: 600px;
  margin-left: 100px;
}

.rentform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

input[type=text], select {
    width: 100%;
    margin: 6px 0;
    padding: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  button {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .handymanform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.ntpform{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1300px;
}
textarea[target = reason]{
  resize: none;
  border-radius: 4px;
  margin: 8px 0;
}
.multirentform{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.utilityform{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

label[for = modResult]{
  display: inherit;
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
}

textarea{
  border-radius: 2px;
  resize: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}